footer {
    width: 100%;
    background-color: var(--background-color);
    color: var(--on-background-color);
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social_links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social_links li {
    margin: 0 10px;
}

footer .social_links a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
}

footer .social_links a:hover {
    color: var(--secondary-color);
}