.navbar {
    width: 100%;
    opacity: 90%;
    color: var(--on-background-color);
    position: fixed;
    z-index: 1000;
}

.navbar-horizontal {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

.nav_container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.navbar li {
    display: inline;
}
.navbar li a {
    padding: 14px 20px;
    display: inline-block;
}
.navbar li a:hover {
    background-color: #575757;
}

.nav_list{
    list-style-type: none;
}

/* Mobile navbar styles */
.navbar-vertical {
    background-color: var(--background-color);
    width: 250px;
    height: 100%;
    overflow: hidden;
    transform: translateX(-250px);
    transition: transform 0.3s ease;
}

.navbar-vertical ul {
    display: block;
    width: 100%;
}

.navbar-vertical li {
    display: block;
}

.navbar-vertical li a {
    display: block;
    padding: 14px 20px;
}

.navbar-vertical li a:hover {
    background-color: #575757;
}

.burger {
    display: none;
    position: fixed;
    top: 14px;
    left: 14px;
    font-size: 24px;
    cursor: pointer;
}

.show {
    transform: translateX(0);
}
