.navbar {
    width: 100%;
    opacity: 90%;
    background-color: var(--background-color);
    color: var(--on-background-color);
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.nav_container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.navbar li {
    display: inline;
}
.navbar li a {
    padding: 14px 20px;
    display: inline-block;
}
.navbar li a:hover {
    background-color: #575757;
}

.nav_list{
    list-style-type: none;
}