:root {
    --primary-color: #33D60A;/*3498db*/
    --on-primary-color: #ffffff;
    --secondary-color: #3498db;/*2ecc71*/
    --on-secondary-color: #ffffff;
    --background-color: #01070B;/*333333*/
    --on-background-color: #f5f5f5;
    --surface-color: #333333;
    --on-surface-color: #ffffff;
    --error-color: #e74c3c;
    --on-error-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--on-background-color);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0 0 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}

.content_wrapper
{
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}

button.secondary {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.button {
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
ul{
    list-style-type: none;
}